<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Feel the 🔥</h1>
  <% if (user) { %>
    <h2>Add New Workout!</h2>
    <form action="/workouts" method="POST">
    <label for="name-select">Name</label>
    <input type="text" name="name" autocomplete="off">
    <label for="pump-checkbox">Pumped?</label>
    <input type="checkbox" name="pump">
    <label for="date">Date:</label>
    <input type="datetime-local" name="date" id="date-text">
    <button type="submit">Add your Workout!</button>
  </form>
  <% } %>
  <h3>Check out everyone's workout! </h3>
  <ul>
    <% workouts.forEach(workout => { %>
      <li>
        💪 
        <a href="/workouts/<%= workout._id %>"><%= workout.name %></a>
        got <%= workout.client %> <%=  workout.pump ? 'pumped!' : 'not pumped!' %></li>
    <% }) %>
  </ul>
</main>
<%- include('../partials/footer') %>